.primero{
    border: 2px solid goldenrod;
    border-collapse: collapse;
}

.segundo{
    border: 2px solid green
}

th{
    border: 1px solid red;
    border-collapse: collapse;
}

table{
    width: 100%;
}